/*img{
	background-color: blue;
}*/
/*h1{
	color: orange;
}*/
.my-heading{
	color: orange;
}
.para{
	color: blue;
}
.para-3{
	color: red;
}
#first-element{
	color: purple;
}
#my-heading{
	color: pink;
}
.img-1{
	background-color: yellow;
}
.img-1:hover{
	background-color: aqua;
}
.img-2{
	background-color: blue;
}
.img-2:hover{
	background-color: red;
}
a{
	text-decoration: none;
	display: inline-block;
	color: white;
	border-radius: 10px;
	background-color: black;
	padding: 12px 24px;

}
a:hover{
	background-color: blue;
	color: black;
}